@model IEnumerable<SistemaClick.Data.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Recoleccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Inscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoVivienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beneficio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Recoleccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoVivienda.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficio.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
